<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="css/forgetPassword.css">
    <link rel="icon" href="media/logoNMlab.png">
    <title>Login - NMLab</title>
</head>
<body>
    <header class="container text-light p-5 text-center text-md-start mt-5">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 mt-4 mt-md-0">
                <div class="card p-4 loginbgcolor text-light border-0">
                    <h2 class="text-center mb-4">Reinitialisation du Mot De Passe</h2>
                    <div id="errorAlert" class="alert alert-danger d-none"></div>
                    <form method = "POST" id = "resetForm">
                        <div class = "mb-3">
                            <label for="email" xlass="form-label">Email</label>
                            <input type="email" required class = "form-control" id = "email" placeholder="votre email">
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-primary w-100 py-2 mt-3">
                            <span id="submitText">Envoyer</span>
                            <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        </button>
                        <div class="d-flex justify-content-between mt-3">
                            <a href="register.html" class="text-light text-decoration-none">Vous êtes nouveau ?</a>
                            <a href="login.html" class="text-light text-decoration-none">Se Connecter</a>
                        </div>
                    </form>
               
               
                </div>
            </div>
        </div>
    </header>
    <script src="js/forgotPasswordScript.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>
